<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1> Was here </h1>
    <form action="/" method="post">
        <input type="text" name="nameParam" placeholder="Name">
        <input type="text" name="surnameParam" placeholder="Surname">
        <input type="submit" value="Go">
    </form>
</body>
</html>